<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Erreur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="main.js"></script>
</head>

<body>
    <div style="background-color: #1ab7bc; color: #ffffff; padding: 2em;">
        <h1 class="text-center">Erreur :</h1>
        <p class="text-center">Impossible de retrouver votre profil dans notre liste d'utilisateurs !<br>Vous
            pouvez réessayer de vous connecter, ou créer un nouveau profil.</p>
    </div>
    <div class="container">
        <div class="row justify-content-around align-items-end mt-5">
            <div class="col-md-2 text-center mt-5">
                <a href="sinscrire" style="text-decoration:none; color: black;">
                    <img src="../static/icone-inscription.png" class="img-fluid" alt="icone inscription" />
                    <p>s'inscrire</p>
                </a>
            </div>
            <div class="col-md-2 text-center mt-5">
                <a href="connexion" style="text-decoration:none; color: black;">
                    <img src="../static/icone-login.png" class="img-fluid" alt="icone connexion" />
                    <p>se connecter</p>
                </a>
            </div>
        </div>
    </div>
</body>

</html>