<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Liste des Utilisateurs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="main.js"></script>
</head>

<body style="background-color: #ffffff; justify-content: space-around;">
    <header>
        <nav style="background-color: #1ab7bc; color: #ffffff; padding-left:10px; padding-right:10px;" class="text-center">
                <a href="chatroom.html" style="float:left; margin-top: 10px; text-decoration:none;"><img src="../static/icone-chat.png" style="height:25px;" alt="icone chatroom"/></a>
                <a href="settings.html" style="float:left; margin-top: 10px; margin-left: 15px; text-decoration:none;"><img src="../static/icone-setting.png" style="height:25px;" alt="icon paramètres"/></a>
                <span style="font-size:2em;">UTILISATEURS</span>
                <a href="index.html" style="float:right; margin-top: 10px; text-decoration:none;"><img src="../static/icone-porte.png" style="height:25px;" alt="icone déconnexion"/></a>
                <div style="clear: both;"></div>
        </nav>
    </header>
    

</body>

</html>